.btn {
    background-color: green;
    color: white;
  }

.player{
 align-content: center;
 width: 20rem;
 text-align: center;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 20rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;

}

.center{

    color: black;
    background-color: red;
    text-align: center;
}

.back{
    background-color: cadetblue;
} 